@midi:  ~"(max-width: 767px)";

@black 			: #000000;
@white 			: #ffffff;
@colHighlight   : #0066b8;
@colBody        : #898989;
@aboutBg        : #F0F0F0;
body {
  padding-top: 70px;
  line-height:180%;
}

.calc-width(@_width, @_min)
{
	width: -moz-calc(@_width ~"-" @_min);
	width: -webkit-calc(@_width ~"-" @_min);
	width: -o-calc(@_width ~"-" @_min);
	width: calc(@_width ~"-" @_min);
}
.margin-bottom10
{
	margin-bottom: 10px;
}

.margin-bottom5
{
	margin-bottom: 5px;
}

.me-welcome
{
	background-color: @black;
	background-image: url(../img/welcome.jpg);
	background-repeat: no-repeat;
	height: 450px;
    width: 100%;
    background-size: cover !important;
    background-position: center;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
	text-align: center;
	h1 {
		color: #fff;
	    font-size: 90px;
	    font-weight: 500;
	    letter-spacing: 8px;
	    margin-bottom: 15px;
	    text-transform: capitalize;
	}

	h3 {
	    color: #fff;
	    font-size: 20px;
	    font-weight: 300;
	    letter-spacing: 3px;
	    text-transform: capitalize;
	}

	@media @midi
	{
		h1 {
			font-size: 30px;
		}

		h3 {
			font-size: 12px;
		}
	}
}

.me-about
{
	background-color: @aboutBg;
	min-height: 200px;
	padding-top: 50px;
	padding-bottom: 50px;

	h3 {
		font-size: 32px;
		font-weight: 300;
	}

	p {
		font-size: 16px;
		line-height: 27px;
	}
}

.me-service
{
	background-color: @white ;
	min-height: 200px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;

	h3 {
		font-size: 32px;
		font-weight: 300;
	}

	h4 {
		font-size: 16px;
		font-weight: 300;
	}

	p {
		font-size: 12px;
	}

	.service-ico
	{
		float: left;
		padding-top: 10px;
		width: 30px;
		text-align: center;
		font-size: 32px;
		font-weight: 300;
	}

	.service-body
	{
		float: left;
		.calc-width(100%, 30px);
		padding-left: 20px;
	}

}

footer {
	color: @white;
	background-color: @black;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
}